# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/training/logs/iposenet_L2/
/training/logs/iposenet_focal_L2/
